.cart {
    margin-top: 50px;
    background: #FFE0B3;
    padding: 15px;
    color: black;
    height: 400px;
    width: 145px;
    border-radius: 8px;
    position: sticky;
    top: 0px;
    margin: auto;
}

.clear-btn {
    background: #FF3030;
    border-radius: 4px;
    width: 90%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}