.review-item {
    width: 571px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    margin-bottom: 25px;
    padding: 8px
        /* height: 107px; */
}

.review-item img {
    width: 91px;
    height: 91px;
    border-radius: 6px;
}

.review-item {
    display: flex;
    gap: 8px;
    align-items: center;
}

.review-item .item-name {
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.0015em;
}

.review-item p {
    margin: 0;
}

.item-detail {
    flex-grow: 1;
}

.orange-color {
    color: #FF9900;
}

.item-btn {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: rgba(235, 87, 87, 0.3);
    display: flex;
    justify-items: center;
    align-items: center;  
}

.btn-icon {
    color: #EB5757;
    font-size: 27px;
}